* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}

input {
  margin: 10px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  font: 3em sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  font-size: 16px;
}
.page1 {
  width: 100%;
  height: 90vh;
  background-color: #111;
}
.page2 {
  width: 100%;
  height: 90vh;
  background-color: #333;
}
.page3 {
  width: 100%;
  height: 90vh;
  background-color: #555;
}