/* index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e7dddd;
  color: #333;
}

.Navbar, .h1 {
  padding: 10px;
  background: #ad4141;
  color: #f9f9f9;
  text-align: center;
  max-width: 500px;
  text-align: center;
  margin: 100px auto;

}

.Card {
  margin: 20px auto;
  padding: 15px;
  max-width: 500px;
  background: #39147e;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  color: aqua;
}