* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}

h1{
  font-size: 2rem;
  height: max-content;
  width:  max-content;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: blanchedalmond;
  color: #000;
}
button{
  margin: 10px 35px;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #232c03;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}